*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('https://sbtelms.bihar.gov.in/pluginfile.php/1/theme_moove/sliderimage3/1701744283/3.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    nav img{
    width: 120px;
    }
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
 }

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.row-2{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.facilities-col img{
    width: 100%;
    height: 90%;
}

.layer{
    background: transparent;
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(255, 0, 0, 0.7);
    
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facilities-col p{
    padding: 0;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('https://www.betterup.com/hubfs/Blog%20Images/employee%20loyalty/employees-working-on-headsets-employee-loyalty.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 20px;
    }
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.icons a{
  text-decoration: none;
}

.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('https://imgix.bustle.com/elite-daily/2015/05/07212021/college-graduation.jpg?w=1200&h=630&q=70&fit=crop&crop=faces&fm=jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
 }
 
 .sub-header h1{
    margin-top: 100px;
 }

 .about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
 }

 .about-us-2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
 }

 .about-col{
    flex-basis: 48%;
    padding: 30px 2px;
 }

 .about-col img{
    width: 100%;
 }
 
 .about-col h1{
    padding-top: 0;
 }

 .about-col p{
    padding: 15px 0 25px;
 }

 .location{
    width: 60%;
    margin: auto;
    padding: 80px 0;
 }

 .location iframe{
    width: 100%;
 }

 .contact-us{
    width: 80%;
    margin: auto;
 }

 .contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
 }

 .contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
 }

 .contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-top: 30px;
 }

 .contact-col div p{
    padding: 0;
 }

 .contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
 }

 .contact-col input,  .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
 }

 .red-btn{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
 }
 
 @media(max-width: 700px){
    .red-btn{
        margin: auto;
        margin-left: 15%;
    }
 }
 .red-btn:hover{
    color: #fff;
    border: 1px solid #f44336;
    background: #f44336;
}

.red-btn-2{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    margin-left: 180px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
 }

 @media(max-width: 700px){
    .red-btn-2{
        margin: auto;
        margin-left: 15%;
    }
 }

 .red-btn-2:hover{
    color: #fff;
    border: 1px solid #f44336;
    background: #f44336;
}
 
 .container{
    width: 700px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff3f3;
    padding: 30px;
    border-radius: 10px;
 }

 @media(max-width: 700px){
    .container{
        width: 300px;
    }
 }

 .container:hover{
    box-shadow: 0 0 20px;
    transition: 0.5s;
 }

 #image{
    width: 250px;
    height: 70px;
 }

 .images{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.image-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.image-col img{
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.red-btn-3{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    margin-left: 255px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
 } 

 @media(max-width: 700px){
    .red-btn-3{
        margin: auto;
        margin-left: 15%;
    }
 }

 .red-btn-3:hover{
    color: #fff;
    border: 1px solid #f44336;
    background: #f44336;
}

#login{
    width: 250px;
    height: 70px;
 }
 

 .form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 370px;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 50px;
  } 

  @media(max-width: 700px){
    .form{
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
       
    }
 }

  .form:hover{
    box-shadow: 0 0 20px;
    transition: 0.5s;
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }

  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }

  .row-3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   }  
 
.image-col-2{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.image-col-2 img{
    width: 90%;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
}

  .text p{
    margin: 1px 4px;
    font-size: 14px;
    color: #777;
    text-align: left;
  }
  
 #preloader{
    background: #000 url(PVtR.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
 }

 @media(max-width: 700px){
    #preloader{
        position: absolute;
    }
 }
 




